.table-constructor {
    .input-col {
        margin-top: 4rem;

        .row {
            margin-top: 1.5rem;

            .next-button {
                width: 100%;
            }
        }
    }
}