.parking-map {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    table {
        height: 100%;
        width: 100%;
        display: table-cell;
        margin-left: auto;
        margin-right: auto;

        .clicked {
            background-color: black;
        }

        td {
            padding: 1.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
