.app {
    header {
        height: 10vh;
        margin-top: 2.5vh;
    }

    section {
        height: 85vh;

        .input-col {
            margin-top: 1rem;
    
            .row {
                margin-top: 1.5rem;
    
                .prev-button,.next-button {
                    width: 100%;
                }
            }
        }
    }
}